body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
}

#logo {
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}

.form-container, .result-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 25%;
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

#username {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.button-container {
    margin-top: 10px;
}

#submit-btn {
    background-color: #d00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #b00;
}

.result-container {
    display: none;
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #d00;
    color: white;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ddd;
}

th:nth-child(1), td:nth-child(1) {
    width: 15%;
    background-color: #d00;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

th:nth-child(2), td:nth-child(2) {
    width: 80%;
}

tr:last-child td {
    border-bottom: none;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

h2 {
    text-align: left;
    width: 100%;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #d00;
}

.table-container {
    margin-bottom: 20px;
}

.user-not-found {
    width: 25%; /* Ajustez cette valeur en fonction de vos besoins */
    text-align: center;
}

.error-message {
    color: #d00;
}
